html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* Custom Font */
.default-custom-font {
  font-family: Inter, Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}

.primary-text-custom-font {
  font-family: Inter, Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
  padding: 0;
}

.project-title-custom-font {
  color: #3a4a42;
  font-family: Inter, Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Custom Button */
.custom-button {
  background-color: #36b37f;
  border: none;
  border-radius: 4px;
  padding: 12px;
}

.custom-button:hover {
  background-color: #36b37f;
}

.custom-button:active {
  background-color: #008552;
}

/* Toolbar Container */
.toolbar-container {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
  justify-content: space-between;
}

.toolbar.logo {
  margin-left: 24px;
  width: 90px;
  height: 28px;
}

.toolbar.menu {
  margin-right: 32px;
}

.logo-link {
  text-decoration: none;
  color: #28352f;
}

.logo-text {
  margin: 0;
  position: static;
  left: 12px;
  top: 10px;
  font-weight: 600;
}

.menu-trigram {
  background: url("\\img\\Normal Button\\Tertiary\\Icons\\Icon - Menu.png");
  height: 18px;
  width: 18px;
  margin: 2px;
}

.menu-link {
  display: block;
  width: 24px;
  height: 24px;
  color: transparent;
}

/* headline section */
.headline-container {
  background: url("/img\\header-illsutration-mobile@2x.png") 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-top: 92px;
  padding-bottom: 42px;
}

.headline.primary-text {
  display: inline-flex;
  flex-direction: column;
  margin: 64px 24px 0 24px;
}

.primary-text.first-color {
  color: #172b4d;
}

.primary-text.second-color {
  color: #36b37e;
}

.headline.supporting-text {
  display: inline-flex;
  margin: 58px 24px 58px 24px;
}

.sup-text-paragraph {
  color: #172b4d;
}

.headline.social-media-icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  min-width: 21px;
  min-height: 20px;
}

.twitter {
  background: url("\\img\\headline\\icons\\twitter.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  margin: 0 8px 0 8px;
  z-index: 1;
}

.linkedin {
  background: url("\\img\\headline\\icons\\linkedin.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  margin: 0 8px 0 8px;
}

.medium {
  background: url("\\img\\headline\\icons\\medium.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 16px;
  margin: 0 8px 0 8px;
}

.github {
  background: url("\\img\\headline\\icons\\github.png");
  background-repeat: no-repeat;
  width: 19px;
  height: 20px;
  margin: 0 8px 0 8px;
}

.angellist {
  background: url("\\img\\headline\\icons\\angellist.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 20px;
  margin: 0 8px 0 8px;
}

.headline.action {
  display: inline-flex;
  margin-top: 62px;
  justify-content: center;
}

.action-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dfe1e6;
  background-color: transparent;
}

.chevron {
  background: url("\\img\\Normal Button\\Secondary\\Icons\\chevron.png") 50% 50%;
  background-repeat: no-repeat;
  margin: 0;
  width: 40px;
  height: 40px;
}

/* Recent Works */
.recent-works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

/* Recents Works Intro-Header */
.recent-works.intro-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  height: 125px;
  top: -20px;
  margin-bottom: 58px;
}

.intro-header.primary-text {
  display: block;
}

.intro-header.indicator {
  background-color: #36b37e;
  width: 48px;
  height: 4px;
}

/* Card Container */

.card-work-container {
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 87vw;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 87vw;
}

.card-work {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 474px;
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
  margin-bottom: 24px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
}

.project-title {
  width: 90%;
  margin: 16px 0 16px 0;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(100% - 22px);
  list-style: none;
  padding: 0;
}

.card-tag {
  background-color: #ebf0ee;
  border-radius: 4px;
  margin-top: 10px;
}

.custom-tags-font {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  margin: 8px 12px;
}

.card-button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin-top: 29px;
  margin-bottom: 24px;
}

/* ABOUT ME SECTION */
.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-me-text.top-img {
  position: absolute;
  max-height: 108px;
  max-width: 119px;
  right: -100px;
  top: -40px;
}

.about-me.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.about-primary-text {
  margin-bottom: 24px;
}

.about-sup-text.sup-text-paragraph {
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  width: 90%;
}

.about-me.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-me-text.bottom-img {
  position: absolute;
  max-height: 56.99px;
  max-width: 127px;
  left: -130px;
}

/* ABOUT ME LANGUAGES/FRAMEWORK/SKILLS */
.about-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 60px 0;
  margin-top: 46px;
  padding: 0;
}

.about-list-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  list-style: none;
  margin-bottom: 24px;
  width: 90vw;
  min-height: 352px;
  background-color: #ebf0ee;
  border-radius: 8px;
}

.about-list-icon-container {
  position: relative;
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 40px;
}

.about-list-icon {
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.about-list-icon.icon2 {
  left: 20.5px;
  bottom: 20.5px;
}

.about-list-text {
  margin-top: 64px;
}

.about-tag-color {
  color: #36b373;
}

.about-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% - 22px);
  list-style: none;
  padding: 0;
  margin-top: 24px;
}

.about-tag {
  background-color: #fff;
  border-radius: 4px;
  margin: 4px 4px;
}
